In [2]:
import pandas as pd
import numpy as np
import random

EJERCICIO 1: ¿Qué diferencia hay entre una Serie y un DataFrame?

In [3]:
print('La diferencia entre una Serie y un DataFrame es que, el primero es unidimensional y el segundo bidimensional.')

La diferencia entre una Serie y un DataFrame es que, el primero es unidimensional y el segundo bidimensional.

EJERCICIO 2: Momento de trabajar con Series. Contestad a las siguientes preguntas:
- Crea dos listas:
    - Una que se llame "valores" que tenga 7 números aleatorios.
    - Otra que se llame "indices" que tenga 7 strings que se llamen como los dias de la semana.
- A partir de estas dos listas crea una Serie donde la variable "valores" sean los valores de la Serie y la variable indices sean los índices de la Serie.
- A partir de las dos listas anteriores crea un diccionario usando un bucle for. Para hacer esto tenemos el método zip que nos permite iterar por dos listas a la vez. Más informción sobre este método aquí.
- Crea una Serie con el diccionario creado en el punto anterior.
- ¿Qué forma tiene esta última Serie?
- ¿Qué tipo de datos tiene?
- ¿Qué tamaño tiene?
- ¿Cuáles son los índices de la Serie?
- ¿Y los values?
- Extraed el valor para el índice "lunes". 
    Extraed el valor para el índice "lunes", "martes" y "miércoles".
    Extraed el valor para el índice "lunes" y "domingo".

In [4]:
valores = random.sample(range(30),7) #En la lista aleatoria puede aparecer el 0, cosa que no queremos
indices = ['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo']

#--------

series = pd.Series(valores, index = indices)
series

#-------

resultado_zip = zip(indices,valores)
print(list(resultado_zip))

diccionario = {}
for dias in indices:
    for numero in valores:
        diccionario[dias] = numero
        valores.remove(numero)
        break
    
print(diccionario)

#------

serie_dic = pd.Series(diccionario)
serie_dic

#------
print('Forma:', serie_dic.shape)

print('Tipo:', serie_dic.dtypes)

print('Tamaño:', serie_dic.size)

print('Indices:', serie_dic.index)

print('Valores:', serie_dic.values)

print('Valor de lunes:', serie_dic['lunes'])
print('Valor de lunes, martes y miercoles,:', '\n', serie_dic['lunes': 'miercoles'])
print('Valor de lunes y domingo:', serie_dic['lunes'], 'y', serie_dic['domingo'])

[('lunes', 2), ('martes', 27), ('miercoles', 6), ('jueves', 22), ('viernes', 21), ('sabado', 9), ('domingo', 29)]
{'lunes': 2, 'martes': 27, 'miercoles': 6, 'jueves': 22, 'viernes': 21, 'sabado': 9, 'domingo': 29}
Forma: (7,)
Tipo: int64
Tamaño: 7
Indices: Index(['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado',
       'domingo'],
      dtype='object')
Valores: [ 2 27  6 22 21  9 29]
Valor de lunes: 2
Valor de lunes, martes y miercoles,:
 lunes         2
martes       27
miercoles     6
dtype: int64
Valor de lunes y domingo: 2 y 29

EJERCICIO 3: Es el turno de los DataFrames
- Cread un array de dos dimensiones con 4 filas y 3 columnas.
- Convertid el array en un DataFrame donde las columnas se llamen "España", "Francia" e "Italia".
- Descargad el archivo "medallas" y cargad el DataFrame.

- Usando el loc extraed todas las columnas de la fila.
- Usando el loc extraed todas las columnas de China e Irán.
- Usando el loc extraed solo las columnas de "Oro", "Plata" y "Bronce" de China e Irán.
- Usando el iloc extraed la información de la India. Devolved todas las columnas.
- Usando el iloc extraed todas las columnas de los paises que estén en posición impar. La primera que nos tendría que salir es Japón y la última Corea del Norte.
- Utilizando el código del ejercicio anterior, seleccionad unicamente las columnas "Oro", "Plata" y "Bronce".
- Contestad a las siguientes preguntas:
- ¿Qué país consiguió más de 200 medallas de oro?
- ¿Qué país consiguió más de 200 medallas de oro y más de 1000 de plata?
- ¿Qué país consiguió más de 200 medallas de oro o más de 700 de bronce?
- Como vemos hay una columna que se llama Unnamed: 0 que no nos interesa. Eliminad esa columna.
- Cread una nueva columma que se llame "total" que sea el resultado de la suma de todas las medallas obtenidas por cada país.

In [39]:
array = np.random.randint(0,100,(4,3))

ejer3 = pd.DataFrame(array)
ejer3

ejer3 = pd.DataFrame(array, columns=['España', 'Francia', 'Italia'])
ejer3

medallas = pd.read_csv("medallas.csv", index_col=["País"])
print(medallas)

medallas.loc['China',:]

medallas.loc[['China', 'Irán'], :]

medallas.loc[['China','Irán'],'Oro':'Bronce']

medallas.iloc[5,:]

medallas.iloc[1::2, :]

medallas.iloc[1::2,1:]

medallas[medallas.Oro > 200]

medallas.loc[(medallas.Oro > 200)&(medallas.Plata > 1000)] 

medallas.loc[(medallas.Oro > 200)&(medallas.Bronce > 700)] 

medallas_limpia = medallas.drop(columns = ['Unnamed: 0'])

medallas_total = medallas_limpia.assign(total = medallas_limpia['Oro'] + medallas_limpia['Plata'] + medallas_limpia['Bronce'])
medallas_total.head()

                 Unnamed: 0   Oro  Plata  Bronce
País
China                     1  1473    994     720
Japón                     2  1032   1037     985
Corea del Sur             3   745    663     827
Irán                      4   179    181     197
Kazajistán                5   155    158     224
India                     6   154    202     315
Tailandia                 7   132    175     278
Indonesia                 8   112    131     240
China Taipéi              9    99    144     276
Corea del Norte          10    91    120     235

                Oro  Plata  Bronce  total
País
China          1473    994     720   3187
Japón          1032   1037     985   3054
Corea del Sur   745    663     827   2235
Irán            179    181     197    557
Kazajistán      155    158     224    537