In [1]:
from pydataset import data
import pandas as pd

EJERCICIO 1: Cargar el dataset
ðŸ’¡ Pista Si hacemos la carga del dataset sin el parÃ¡metro encoding nos darÃ¡ error. AquÃ­ tenÃ©is una lista de los encodings disponibles en pandas. Buscad por los encoding de tipo ISO.

In [2]:
df_csv = pd.read_csv("attacks.csv")
df_csv.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf,2018.06.04,2018.06.04,6299.0,NaN,NaN

EJERCICIO 2: Haced una exploraciÃ³n bÃ¡sica del DataFrame:

Ej 2.1: Â¿CuÃ¡ntas filas y columnas tiene el DataFrame?

In [ ]:
print('El nÃºmero de filas y columnas del dataframe es:', df_csv.shape)

El nÃºmero de filas y columnas del dataframe es: (6114, 22)

Ej 2.2: Mostrad las primeras cinco filas y las Ãºltimas cinco filas del DataFrame.

In [ ]:
print('Las primeras 5 filas del df son:', '\n')
df_csv.head()

Las primeras 5 filas del df son:

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [ ]:
print('Las Ãºltimas 5 filas del dataframe son:', '\n')
df_csv.tail()

Las Ãºltimas 5 filas del dataframe son:

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6109,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,...,NaN,"Sydney Gazette, 2/26/1804",1804.02.26-boat-GeorgesHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1804.02.26-boat-GeorgesHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1804.02.26-boat-GeorgesHead.pdf,1804.02.26.R,1804.02.26.R,176.0,NaN,NaN
6110,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,...,NaN,"Evening Post, 6/13/1803",1803.05.17-Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1803.05.17-Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1803.05.17-Jones.pdf,1803.05.17,1803.05.17,175.0,NaN,NaN
6111,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,...,NaN,"F. Peron ref in G.P. Whitley (Fishes of Australia), p.13",1803.03.00-Lefevre.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1803.03.00-Lefevre.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1803.03.00-Lefevre.pdf,1803.03.00,1803.03.00,174.0,NaN,NaN
6112,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,...,NaN,Evening Post (New York) 4/13/1802,1802.04.13.R-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1802.04.13.R-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1802.04.13.R-India.pdf,1802.04.13.R,1802.04.13.R,173.0,NaN,NaN
6113,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,...,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1801.12.18.R-Pettigrew.pdf,1801.12.18.R,1801.12.18.R,172.0,NaN,NaN

Ej 2.3: Mostrad 2 filas al azar del DataFrame.

In [ ]:
print('Dos filas al azar del df:')
df_csv.sample(2)

Dos filas al azar del df:

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
283,284,2016.04.19,2016.0,Unprovoked,AUSTRALIA,New South Wales,"First Sun Beach, Byron Bay",Swimming,Zak Kedem,M,...,Wobbegong shark,"Gold Coast Bulletin, 4/19/2016",2016.04.19-Kedem.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.04.19-Kedem.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.04.19-Kedem.pdf,2016.04.19,2016.04.19,6019.0,NaN,NaN
2498,2505,1993.03.00,1993.0,Unprovoked,NEW CALEDONIA,South Province,ÃŽle de Casey,Swimming,Frederic Dolbeau,NaN,...,NaN,W. Leander,1993.03.00-Dolbeau.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1993.03.00-Dolbeau.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1993.03.00-Dolbeau.pdf,1993.03.00,1993.03.00,3798.0,NaN,NaN

Ej 2.4: Â¿CuÃ¡l es el nombre de las columnas del DataFrame?

In [ ]:
print('El nombre de las columnas del df:','\n', df_csv.columns)

El nombre de las columnas del df:
 Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

Ej 2.5: Â¿CuÃ¡les son los principales estÃ¡disticos del DataFrame? Mostrad por separado las variables categÃ³ricas y las variables numÃ©ricas.

In [ ]:
print('Los principales estadÃ­sticos de las variables categÃ³ricas son:')
df_csv.describe(include = 'object')

Los principales estadÃ­sticos de las variables categÃ³ricas son:

,Case Number,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Unnamed: 22,Unnamed: 23
count,6113,6110,6074,5706,5626,5603,5914,5564,3448,2934,3409,6098,6114,6113,6114,6114,6114,1,2
unique,6113,8,201,791,4020,1484,5118,6,156,366,1529,4837,6105,6104,6099,6113,6114,1,2
top,2018.06.25,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,17,Afternoon,White shark,"C. Moore, GSAF",1898.00.00.R-Syria.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1898.00.00.R-Syria.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf,1952.08.04,2018.06.25,stopped here,Teramo
freq,1,4438,2200,1025,162,966,511,4939,154,183,161,95,2,2,4,2,1,1,1

Ej 2.6: Â¿CuÃ¡l es el porcentaje de valores nulos en cada columna?

In [ ]:
import numpy as np

nulos = df_csv.isnull().sum()
porcentaje_isnull = (nulos/ len(df_csv)*100)
porcentaje_isnull = np.round(porcentaje_isnull, decimals = 2)
print(porcentaje_isnull)

Unnamed: 0                 0.00
Case Number                0.02
Year                       0.00
Type                       0.07
Country                    0.65
Area                       6.67
Location                   7.98
Activity                   8.36
Name                       3.27
Sex                        9.00
Age                       43.60
Time                      52.01
Species                   44.24
Investigator or Source     0.26
pdf                        0.00
href formula               0.02
href                       0.00
Case Number.1              0.00
Case Number.2              0.00
original order             0.00
Unnamed: 22               99.98
Unnamed: 23               99.97
dtype: float64

Ej 2.7: Sacad los valores Ãºnicos y su frecuencia de las variables numÃ©ricas. Almacenad los resultados en un diccionario. Uno para cada variable.

In [ ]:
columnas = df_csv.columns
frecuencia = df_csv[df_csv.columns].value_counts()

lista_frec = []

for nombre in columnas:
    lista_frec.append(df_csv[str(nombre)].value_counts())

In [ ]:
diccionario_frecuencias = {}

for x in columnas:
    for y in lista_frec:
        diccionario_frecuencias[x]= y
        lista_frec.remove(y)
        break

#print(diccionario_frecuencias) #Esto es UN diccionario con todas las columnas

Ej 2.8: Cambiad el nombre de las columnas para que todas estÃ©n en minÃºsculas y reemplazad los espacios por _.

In [ ]:
columnas_minuscula = {nombre :  nombre.lower() for nombre in df_csv.columns}
columnas_minuscula

{'Unnamed: 0': 'unnamed: 0',
 'Case Number': 'case number',
 'Year': 'year',
 'Type': 'type',
 'Country': 'country',
 'Area': 'area',
 'Location': 'location',
 'Activity': 'activity',
 'Name': 'name',
 'Sex ': 'sex ',
 'Age': 'age',
 'Time': 'time',
 'Species ': 'species ',
 'Investigator or Source': 'investigator or source',
 'pdf': 'pdf',
 'href formula': 'href formula',
 'href': 'href',
 'Case Number.1': 'case number.1',
 'Case Number.2': 'case number.2',
 'original order': 'original order',
 'Unnamed: 22': 'unnamed: 22',
 'Unnamed: 23': 'unnamed: 23'}

Ej 2.9: Eliminad las columnas de Unnamed: 22 y Unnamed: 23, Case Number.1, Case Number.2, original order, Investigator or Source, pdf, href formula.

In [ ]:
df_eliminar = df_csv.drop(["Unnamed: 22", "Unnamed: 23", "Case Number.1", "Case Number.2", "original order", "Investigator or Source",
 "pdf", "href formula"], axis = 1)

df_eliminar.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf

Ej 2.10: Establece la columna Case Number como Ã­ndice del DataFrame.

In [ ]:
df_eliminar.set_index(['Case Number'], inplace = True)
df_eliminar.head()

,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,href
Case Number,,,,,,,,,,,,,
2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf
2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf
2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf
2018.06.08,3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf
2018.06.04,4,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf

EJERCICIO 3: Guarda el csv que no tiene esas columnas para seguir usÃ¡ndolo maÃ±ana.

In [ ]:
df_eliminar.to_csv("attacks_modificado.csv")